<a href="https://colab.research.google.com/github/BratchenkoAA/base_/blob/main/untitled41.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
-- Generated by Oracle SQL Developer Data Modeler 21.4.2.059.0838
--   at:        2025-10-13 16:00:43 MSK
--   site:      Oracle Database 11g
--   type:      Oracle Database 11g



-- predefined type, no DDL - MDSYS.SDO_GEOMETRY

-- predefined type, no DDL - XMLTYPE
USE mgpu_ico_db_02;

CREATE TABLE attendance_gym (
    id_attendance_gym          VARCHAR(40) NOT NULL,
    id_user_gym                VARCHAR(50) NOT NULL,
    id_trainers                VARCHAR(100) NOT NULL,
    id_group                   VARCHAR(100) NOT NULL,
    attendance_user_gym        VARCHAR(40),
    user_gym_entry_date        DATE NOT NULL,
    user_gym_subscription_type VARCHAR(100) NOT NULL,
    user_gym_user_gym_id       VARCHAR(100) NOT NULL
);

CREATE UNIQUE INDEX attendance_gym__idx ON
    attendance_gym (
        user_gym_entry_date
    ASC,
        user_gym_subscription_type
    ASC,
        user_gym_user_gym_id
    ASC );

ALTER TABLE attendance_gym
    ADD CONSTRAINT attendance_gym_pk PRIMARY KEY ( id_attendance_gym,
                                                   id_user_gym,
                                                   id_trainers,
                                                   id_group );

CREATE TABLE gender (
    gender_id                  VARCHAR(20),
    gender_name                VARCHAR(20),
    user_gym_entry_date        DATE NOT NULL,
    user_gym_subscription_type VARCHAR(100) NOT NULL,
    user_gym_user_gym_id       VARCHAR(100) NOT NULL
);

CREATE UNIQUE INDEX gender__idx ON
    gender (
        user_gym_entry_date
    ASC,
        user_gym_subscription_type
    ASC,
        user_gym_user_gym_id
    ASC );

CREATE TABLE group_classes (
    group_name                 VARCHAR(40) NOT NULL,
    trainer                    VARCHAR(50) NOT NULL,
    sсhedule                   VARCHAR(150) NOT NULL,
    group_id                   VARCHAR(50) NOT NULL,
    trainers_fio_trainers      VARCHAR(100) NOT NULL,
    trainers_specialization    VARCHAR(100) NOT NULL,
    trainers_trainer_id        VARCHAR(100) NOT NULL,
    user_gym_entry_date        DATE NOT NULL,
    user_gym_subscription_type VARCHAR(100) NOT NULL,
    user_gym_user_gym_id       VARCHAR(100) NOT NULL
);

ALTER TABLE group_classes
    ADD CONSTRAINT group_classes_pk PRIMARY KEY ( group_name,
                                                  trainer,
                                                  sсhedule,
                                                  group_id );

CREATE TABLE trainers (
    fio_trainers   VARCHAR(100) NOT NULL,
    specialization VARCHAR(100) NOT NULL,
    trainer_id     VARCHAR(100) NOT NULL
);

ALTER TABLE trainers
    ADD CONSTRAINT trainers_pk PRIMARY KEY ( fio_trainers,
                                             specialization,
                                             trainer_id );

CREATE TABLE user_gym (
    fio_user_gym      VARCHAR(100) NOT NULL,
    entry_date        DATE NOT NULL,
    subscription_type VARCHAR(100) NOT NULL,
    user_gym_id       VARCHAR(100) NOT NULL
);

ALTER TABLE user_gym
    ADD CONSTRAINT user_gym_pk PRIMARY KEY ( entry_date,
                                             subscription_type,
                                             user_gym_id );

ALTER TABLE attendance_gym
    ADD CONSTRAINT attendance_gym_user_gym_fk FOREIGN KEY ( user_gym_entry_date,
                                                            user_gym_subscription_type,
                                                            user_gym_user_gym_id )
        REFERENCES user_gym ( entry_date,
                              subscription_type,
                              user_gym_id );

ALTER TABLE gender
    ADD CONSTRAINT gender_user_gym_fk FOREIGN KEY ( user_gym_entry_date,
                                                    user_gym_subscription_type,
                                                    user_gym_user_gym_id )
        REFERENCES user_gym ( entry_date,
                              subscription_type,
                              user_gym_id );

ALTER TABLE group_classes
    ADD CONSTRAINT group_classes_trainers_fk FOREIGN KEY ( trainers_fio_trainers,
                                                           trainers_specialization,
                                                           trainers_trainer_id )
        REFERENCES trainers ( fio_trainers,
                              specialization,
                              trainer_id );

ALTER TABLE group_classes
    ADD CONSTRAINT group_classes_user_gym_fk FOREIGN KEY ( user_gym_entry_date,
                                                           user_gym_subscription_type,
                                                           user_gym_user_gym_id )
        REFERENCES user_gym ( entry_date,
                              subscription_type,
                              user_gym_id );



-- Oracle SQL Developer Data Modeler Summary Report:
--
-- CREATE TABLE                             5
-- CREATE INDEX                             2
-- ALTER TABLE                              8
-- CREATE VIEW                              0
-- ALTER VIEW                               0
-- CREATE PACKAGE                           0
-- CREATE PACKAGE BODY                      0
-- CREATE PROCEDURE                         0
-- CREATE FUNCTION                          0
-- CREATE TRIGGER                           0
-- ALTER TRIGGER                            0
-- CREATE COLLECTION TYPE                   0
-- CREATE STRUCTURED TYPE                   0
-- CREATE STRUCTURED TYPE BODY              0
-- CREATE CLUSTER                           0
-- CREATE CONTEXT                           0
-- CREATE DATABASE                          0
-- CREATE DIMENSION                         0
-- CREATE DIRECTORY                         0
-- CREATE DISK GROUP                        0
-- CREATE ROLE                              0
-- CREATE ROLLBACK SEGMENT                  0
-- CREATE SEQUENCE                          0
-- CREATE MATERIALIZED VIEW                 0
-- CREATE MATERIALIZED VIEW LOG             0
-- CREATE SYNONYM                           0
-- CREATE TABLESPACE                        0
-- CREATE USER                              0
--
-- DROP TABLESPACE                          0
-- DROP DATABASE                            0
--
-- REDACTION POLICY                         0
--
-- ORDS DROP SCHEMA                         0
-- ORDS ENABLE SCHEMA                       0
-- ORDS ENABLE OBJECT                       0
--
-- ERRORS                                   0
-- WARNINGS                                 0